* {
  margin: 0;
  padding: 0;
}

body {
  background: #3498db;
  text-align: center;
}

header {
  padding: 30px;
  border-bottom: 1px solid #a9d8e4;
  background-color: rgba(0, 0, 0, 0.3);
}

.links a {
  color: white;
  margin: 30px;
  text-decoration: initial;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.links a:hover {
  color: #2ecc71;
}

#wrapper img {
  margin-top: 50px;
  border-radius: 50%;
  border: 3px solid #2ecc71;
}

#wrapper h1 {
  font-family: "Roboto", sans-serif;
  margin: 10px;
}

#wrapper p {
  margin-bottom: 20px;
  line-height: 10px;
  font-weight: normal;
  font-size: 18px;
}

#wrapper ul {
  margin-bottom: 20px;
}

#wrapper li {
  font-size: 14px;
  color: #a9d8e4;
}

/* ========= Estilização da section cards ========  */
