<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% block head %}

            <title>Schools</title>

        {% endblock %}

        <link rel="stylesheet" href="/index.css">

    </head>

    <body>
        <header>
            <div class="links">
                <a href="/" class="active">Teachers</a>
                <a href="/students">Students</a>
            </div>
        </header>

        {% block content %}{% endblock %}

    </body>

</html>