@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --primary-color: #74b9ff;
  --secondary-color: #f39c12;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  background-color: white;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
}

.links {
  font-size: 22px;
}

.links a + a {
  margin-left: 32px;
}

.links a {
  text-decoration: none;
  color: #636e72;
  position: relative;
}

.links a.active {
  font-weight: bold;
  color: var(--primary-color);
}

.links a:hover {
  color: var(--primary-color);
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 500ms ease-in-out;
}

/* ============ Estilização do Card ============= */
.card {
  background-color: white;
  width: 800px;
  min-height: 400px;

  margin: 45px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

  animation-name: up 200ms ease-out;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}

.card .image {
  background: url("https://source.unsplash.com/collection/517198/500x500")
    no-repeat center center / cover;
}

/* ============ Estilização do details =============  */
.details {
  padding: 32px;
}

.details .item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 0;
}

.details .item:first-child {
  border: none;
}

.details h3,
.details .item div:nth-child(1) {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  letter-spacing: 0.7px;
  font-weight: normal;
}

.details .item div:nth-child(2) {
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

.details h3 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: var(--secondary-color);
}

.details .item span {
  padding: 8px 16px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  color: #777;
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
