{% extends "layout.njk" %}

{% block head %}

  <title>About - PLiffisson Gomes</title>

{% endblock %}

{% block content %}

  <div id="wrapper">
    <img src="/rocketseat.png" alt="rocketseat">
    <h1>Rocketseat</h1>
    <p>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</p>

    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
    </ul>

    <div class="links">
      <a href="https://github.com/Rocketseat" target="_blank">Github</a>
      <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank">Instagram</a>
      <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
    </div>
  </div>

{% endblock %}